html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


ins {
  background-color: #ff9;
  color: #000000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}


body {
  /*background-image: linear-gradient(-90deg, #000000, #FFFFFF);*/
  /*background: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 255, 255, 0.7));*/
  font-family: "monospace", 'Montserrat', Arial, Helvetica, 'sans-serif';
  background: #1c1c1c;
  color: white;
}

section {
  display: flex;
  /*flex-wrap: nowrap;*/
  /*flex-direction: row;*/
  justify-content: center;
  position: relative;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

main {
}

h1 {
  color: whitesmoke;
  font-size: 3vmax;
  min-height: 4vmax;
  margin: 1vmax;
  /*font-size: 6vh;*/
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  /* width: 20%; */
  /* align-self: center; */
  /* align-items: center; */
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
  /*margin-top: 1vh;*/
}

h2 {
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
}

a:link, a:visited, a:hover {
  color: inherit;
  display: flex;
}

footer {
  background: #c4c7ce;
  color: #272100;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-flex {
  text-align: center;
  margin: 5px;
}

.button-section {
  /*background: #eeeeee;*/
  /*border-radius: 5px;*/
  /*padding: 5px;*/
  /*width: 40vw;*/
  min-height: 25vh;
  /*min-height: 10vmax;*/
  width: 70vw;
  /*min-width: 40vmin;*/
  /*padding-bottom: 10px;*/
  /*margin: 10px;*/
  position: relative;
}

.flex-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.demo {
  text-align: center;
  height: 6vmin;
  min-height: 10px;
  padding-top: 5px;
  margin-top: 5px;
}

.guess {
  margin-top: 3vmax;
}

.guessed {
  background: #555555 !important;
  color: #888888 !important;
  box-shadow: 0 0.2vmax 0 0.05vmax #333333 !important;
  border-bottom-color: #444444 !important;
  position: relative;
  top: 0.4vmax;
  box-shadow: 0 0 0 0.09vmax black;
}

.guess-display {
  color: whitesmoke;
  font-size: 3vmax;
  min-height: 4vmax;
  margin: 1vmax;
  position: relative;
}

.guesses {
  color: transparent;
}

/* .keyboard, .keyboard > *, and .key:active are derived from licensed content. The following license applies to this derivative work: */
/*Copyright (c) 2017 by Gregory Schier (https://codepen.io/gschier/pen/VKgyaY)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.*/

.keyboard {
  display: inline-block;
  text-align: center;
  height: 4vmax;
  margin: 0.4vmax;
  position: relative;
}

.keyboard > * {
  cursor: pointer;
  border-radius: 0.4vmax;
  margin: 0.4vmax;
  padding: 0.4vmax;
  width: 4vmax;
  height: 100%;
  box-sizing: border-box;
  -webkit-user-select: none;
  border: 2px solid #444444;
  box-shadow: 0 0.3vmax 0 0.06vmax #222222;
  border-bottom-color: #555555;
  background: #333333;
  text-align: center;
  color: #eeeeee;
  font-size: 1.2rem;
  /*font-size: 1.5vmax;*/
  position: relative;
}

.key:active {
  background: #2a2a2a;
  color: whitesmoke;
  box-shadow: 0 0 0 0.07vmax black;
}

/* End of MIT licensed content.*/

.letters {
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  /*background: -webkit-linear-gradient(#eee, #333);*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*color: transparent;*/
  /*opacity: 50%;*/
  /*text-shadow: 2px 2px #ffffff;*/
}


/* CSS3 3D Transform and Card Flip*/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {
transform: rotateY(180deg);
}*/

.flip-container, .front, .back {
  width: 320px;
  min-height: 160px;
  height: 16vh;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  font-size: 16vmin;
  text-align: center;
  color: #bdbdbd;
  /*color: #424242;*/
  font-family: 'Montserrat', Arial, Helvetica, 'sans-serif';
  /*background: black;*/
  max-height: 35vmin;
  margin-bottom: 5px;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.flipped {
  /*transform: rotateY( 180deg );*/
  transform: translateX( -100% ) rotateY( -180deg );
}

/*.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
transform: rotateY(180deg);
}*/

.rainbow {
  /*background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );*/
  /*background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );*/
  /*color:transparent;*/
  /*-webkit-background-clip: text;*/
  /*background-clip: text;*/
}

.reset-button {
  color: #333333;
  text-align: center;
  background: #eeeeee;
  border-radius: 1vmax;
  margin: 10px;
  padding: 10px;
  font-size: 2vmax;
  height: auto;
  min-height: 2.5vmax;
  /*width: 3.8rem;*/
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
  border: 1px solid #444444;
  box-shadow: 0 0.3vmax 0 0.05vmax #222222;
  border-bottom-color: #555555;
  width: auto;
  position: relative;
}

.reset-section {
  position: relative;
}

.reset-section::after {
  content: "";
  display: table;
  clear: both;
}

.score {
  /*margin: 7px;*/
  padding: 7px;
  position: relative;
  color: whitesmoke;
  font-size: 2vmax;
  min-height: 3vmax;
  margin: 1vmax;
  /*font-size: 6vh;*/
  text-align: center;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}
